---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Accompagnement sur-mesure</h2>
		<p>Je vous accompagne dans la réalisation de vos applications et projets numériques, de l'idée initiale à la mise en production</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Apprendre en s'amusant</h2>
		<p>J'aime allier le divertissement et l'apprentissage de façon ludique pour rendre les savoirs accessibles à tous</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="games" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Nouveaux gameplays</h2>
		<p>J'aime faire découvrir de nouveaux gameplays et créer des expériences de jeu originales dans lesquelles on prend plaisir à s'amuser</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>L'utile à l'agréable</h2>
		<p>Je conçois des projets sérieux qui font avancer les choses, tout en restant agréables à utiliser au quotidien</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 3rem 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
